@charset "UTF-8";

input[type="search"] {
  background-color: transparent;
  width: 47%;
  padding: 3px 0 3px 5px;
  font-size: 14px;
  color: #191919;
}
input[type="text"] {
  border: 10px solid #fff;
  background-color: #fff;
  width: 520px;
  height: 45px;
  font-size: 1.8vh;
  border-radius: 20px;
  color: #191919;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  display: block;
  color: #9a9a9a;
}
input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border: none;
  background: url("../images/icon_chk_off.svg") no-repeat 50% 50%;
  cursor: pointer;
  margin-right: 10px;
}
input[type="checkbox"]:checked {
  background-image: url(../images/icon_chk_on.svg);
}
* {
  font-family: "Noto Sans KR";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  transition: ease-in 0.3s;
}
/* HEADER 시작 */
.hd {
  text-align: center;
}
.hd .logo {
  padding-top: 60px;
  padding-bottom: 125px;
}

.hd .menu {
  position: fixed;
  justify-content: flex-end;
  top: 60px;
  right: 22px;
  text-align: center;
  z-index: 1;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 400;
}
.hd .menu a {
  color: #191919;
  display: inline-block;
  margin: 0;
}
.hd .menu a:not(:last-child) {
  margin-right: 35px;
}
.hd .menu a:after {
  content: "";
  display: block;
  border-bottom: solid 1px #191919;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.hd .menu a:hover:after {
  transform: scaleX(1);
}
.hd .menu a:after {
  transform-origin: 0% 50%;
}

/* side 메뉴 시작 */
.side {
  position: fixed;
  width: 275px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: #fff;

  font-size: 14px;
  font-weight: 500;
  padding-left: 40px;
}
/* side-menu hover 사이드메뉴 형광펜효과 */
.side .gnb-menu .highlight-color1::after {
  background: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
}
.side .gnb-menu .highlight-color2::after {
  background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%);
}
.side .gnb-menu .highlight-color3::after {
  background: linear-gradient(to right, #fe88ff 0%, #c2a4ff 100%);
}
.side .gnb-menu .highlight-color4::after {
  background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
}
.side .gnb-menu .highlight-color5::after {
  background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}
.side .gnb-menu .highlight-color6::after {
  background: linear-gradient(-225deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
}
.side .gnb-menu .highlight-color7::after {
  background: linear-gradient(to right, #a6c0fe 10%, #f68084 100%);
}
.side .gnb-menu .highlight-color8::after {
  background: linear-gradient(to right, #fed6e3 0%, #a8edea 100%);
}
.side .gnb-menu .highlight-color9::after {
  background: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
}

.side .gnb-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.side .gnb-menu .dep1 {
  margin-bottom: 20px;
  display: inline-block;
}
.side .gnb-menu .dep1 a {
  position: relative;
}
.side .gnb-menu .dep1 .sub-menu {
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 2px;
  transition: all 0.3s;
}
.side .gnb-menu li a::after {
  content: "";
  width: 0;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 10;
  z-index: -1;
  transition: 0.3s all;
}
.side .gnb-menu .dep1:hover > a::after {
  width: 100%;
}
.side .gnb-menu .sub-menu li:hover > a::after {
  width: 100%;
}
.side .gnb-menu .dep1:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.side .gnb-menu1 {
  padding: 65px 0 50px 0;
}
.side .search-area {
  padding-top: 10px;
}
.side .info-list {
  display: inline-block;
  padding-top: 250px;
}
.side .info-list {
  font-size: 11px;
  font-weight: 500;
}
.side .info-list .dep1 {
  margin-bottom: 10px;
}
.side .info-list .info-txt {
  font-size: 10px;
  font-weight: 400;
}
.side .sns-logo {
  position: absolute;
  bottom: 50px;
  left: 40px;
}
.side .sns-logo .sns ul {
  display: flex;
}
.side .sns-logo .sns li {
  margin-right: 20px;
}
.side .sns-logo .sns img {
  width: 18px;
}
.side .mob-menu {
  display: none;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
  max-height: 100%;
  height: 100%;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
/* CONTAINER */

.container {
  margin-left: 315px;
  max-width: 1622px;
}

.container .content {
  padding-left: 40px;
  position: relative;
  top: -90px;
  left: 0;
}
.login .formbox {
  color: #9a9a9a;
}
.login .formbox .form {
  display: inline-block;
}
.login .formbox .loginutil-help {
  cursor: pointer;
}
.login .main-tit {
  display: block;
  font-size: 22px;
  font-weight: 500;
}
.login .formbox .id-box {
  margin-top: 100px;
  margin-bottom: 30px;
  display: block;
}
.login .formbox .pw-box {
  display: block;
}
.login .formbox .option {
  width: 27.5%;
}
.login .formbox .loginutil {
  width: 72.5%;
}
.login .login-box {
  display: flex;
  padding-top: 30px;
  padding-left: 5px;
}
.login .login-form-submit {
  width: 220PX;
  height: 60px;
  display: inline-block;

  background-color: #191919;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 1px #787878;

  margin-left: 160px;
  margin-bottom: 40px;
  margin-top: 50px;

  vertical-align: middle;
}
.login .login-form-submit .form-button {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;

  display: inline-block;
  line-height: 55px;
  width: 100%;
  height: 50px;
}
.login .sns-login_wrap {
  text-align: center;
  max-width: 550px;
  margin-bottom: 30px;
}
.login .sns-login_wrap .main-tit {
  font-size: 18px;
  color: #9a9a9a;
  cursor: pointer;
  margin-bottom: 50px;
  display: inline-block;
}
.login .sns-login_wrap .el-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login .sns-login_wrap .el-list .list-item {
  background: #fff;
  width: 160px;
  height: 65px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-right: 20px;
}
.login .sns-login_wrap .el-list .list-item a {
  display: block;
  margin-top: 8px;
  text-align: center;
}
.login .login-guide-text {
  max-width: 550px;
  font-size: 16px;
  text-align: center;
}
.login .login-guide-text .guide1 {
  color: #9a9a9a;
  display: inline-block;
  cursor: pointer;
}
.login .login-guide-text .guide2 {
  color: #191919;
  display: inline-block;
  cursor: pointer;
}
.bak-login_img {
  display: block;
}
.bak-login_img .img-area .login_img {
  position: absolute;
  right: 50px;
  top: 100px;
}
/* nav-menu */
.navigation {
  display: none;
}
.mobile_nav {
  width: 0px;
  min-height: 100vh;
  padding-top: 50px;
  top: 0;
  background: rgba(255, 255, 255, 0.98);
  position: fixed;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;

  z-index: 99;
}
.mobile_nav.active {
  width: 100%;
}
.mobile_nav .nav_menu {
  display: inline-block;
}
.mobile_nav .nav_menu .main_title {
  font-size: 14px;
  font-weight: 400;
}
.mobile_nav .nav_menu .title {
  font-size: 13px;
  font-weight: 300;
}
.mobile_nav .nav_menu .dep1 {
  padding-bottom: 10px;
}
.mobile_nav .nav_menu .sub_title {
  font-size: 13px;
}
.nav_menu .dep1 .sub_title {
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 2px;
  transition: all 0.3s;
}
.mobile_nav ul li a::after {
  content: "";
  width: 0;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 10;
  z-index: -1;
  transition: 0.3s all;
}
.nav_menu .dep1:hover > a::after {
  width: 100%;
}
.nav_menu .sub_title li:hover > a::after {
  width: 100%;
}
.nav_menu .dep1:hover .sub_title {
  opacity: 1;
  visibility: visible;
}
.toggle {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 30px;
  height: 10px;
  cursor: pointer;
  display: flex;

  z-index: 999;
}
.toggle::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 1px;
  border-radius: 3px;
  background: #000;
  transform: translateY(-5px);
  transition: 1s;
}
.toggle::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 1px;
  border-radius: 3px;
  background: #000;
  transform: translateY(5px);
  transition: 1s;
}
.navigation.active .toggle::before {
  transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after {
  transform: translateY(0px) rotate(225deg);
}
.mobile_menu {
  margin-bottom: 40px;
}
.nav_shop {
  margin-bottom: 5px;
}
/* side-menu hover 사이드메뉴 형광펜효과 */
.highlight-color1::after {
  background: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
}
.highlight-color2::after {
  background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%);
}
.highlight-color3::after {
  background: linear-gradient(to right, #fe88ff 0%, #c2a4ff 100%);
}
.highlight-color4::after {
  background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
}
.highlight-color5::after {
  background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}
.highlight-color6::after {
  background: linear-gradient(-225deg, #69eacb 0%, #eaccf8 48%, #6654f1 100%);
}
.highlight-color7::after {
  background: linear-gradient(to right, #a6c0fe 10%, #f68084 100%);
}
.highlight-color8::after {
  background: linear-gradient(to right, #fed6e3 0%, #a8edea 100%);
}
.highlight-color9::after {
  background: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
}
.dep1 a {
  position: relative;
}
.sns-logo .sns ul {
  display: flex;
}
.sns-logo .sns li {
  margin-right: 20px;
}
@media screen and (max-width: 1280px) {
  #wrap {
    margin: 5px;
  }
  .container {
    margin: 0;
  }
  .navigation {
    display: block;
  }
  .hd .menu {
    display: none;
  }
  .side {
    display: none;
  }
  .hd .menu {
    top: 25px;
  }
  .hd .logo {
    top: 0;
    padding-bottom: 80px;
  }
  .sns-logo {
    position: inherit;
    margin-top: 50px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
  }
 .info-list .dep1{
    font-size: 13px;
    font-weight: 400;
  }
  .info-list .info-txt {
    font-size: 11px;
    font-weight: 300;
  }
  input[type="text"] {
    width: 400px;
  }
  .bak-login_img .img-area .login_img {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  .container .content {
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }
  input[type="text"] {
    width: 450px;
  }
  .bak-login_img .img-area .login_img {
    display: none;
  }
  .login .sns-login_wrap .main-tit {
    font-size: 14px;
  }
  .login .formbox .id-box {
    margin-top: 50px;
  }
  .login .login-form-submit {
    width: 180px;
    height: 60px;

    margin-left: 0;
  }
  .login .login-form-submit .form-button {
    font-size: 14px;
    font-weight: 400;
  }
  .login .sns-login_wrap .el-list .list-item {
    width: 120px;
    height: 40px;
  }
  .login .sns-login_wrap .el-list .list-item a img {  
    width: 17%;
  }
  .login .login-guide-text {
    font-size: 14px;
  }
  .info-box {
    margin-top: 50px;
  }
  .info-box .main-tit{
    font-size: 16px;
    font-weight: 400;
  }
}